body {
  background-color: antiquewhite;
  font-family: sans-serif;
  font-size: large;
  /* background: antiquewhite url('../HTML/images/Rohit.webp') no-repeat; */
  /* background-image: url("../HTML/images/Rohit.webp"); */
}

.form-element {
  margin-top: 20px;
}

/* table tr th {
  background-color: aquamarine;
  width: 200px;
  opacity: 1;
}

table tr td {
  background-color: cyan;
  text-align: center;
}
*/
.table-container {
  border: 1px solid black;
  height: 600px;
  overflow: auto;
}

table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

/* tr {
  border-bottom: 1px solid grey;
}
tr:hover {
  cursor: pointer;
  background-color: #D6EEEE;
} */

th,
td {
  border: 1px solid black;
  text-align: left;
  padding: 10px;
  /* border-radius: 10px; */
}

tr:nth-child(even) {
  background-color: #dddddd;
}
/* 
th:nth-child(even),
td:nth-child(even) {
  background-color: #dddddd;
} */
